{% load thumbnail %}
{% load poll_extras %}

<h2>نظر ها ({{ comments_count }})</h2>
<ul class="media-list">
    {% for comment in comments %}
        <li class="media" id="single_comment_area{{ comment.id }}">
            <a class="pull-right" href="#">
                {% if comment.user.avator %}
                    {% thumbnail comment.user.avator '121x86' crop='center' as im %}
                        <img class="media-object" src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                {% else %}
                    <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                {% endif %}
            </a>
            <div class="media-body">
                <ul class="sinlge-post-meta">
                    <li><i class="fa fa-user"></i>{{ comment.user }}</li>
                    <li><i class="fa fa-clock-o"></i>{{ comment.create_date | show_time }}</li>
                    <li>
                        <i class="fa fa-calendar"></i>{{ comment.create_date | show_date2jalali }}
                    </li>
                </ul>
                <p>{{ comment.text }}</p>
                <a class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i class="fa fa-reply"></i>پاسـخ</a>
            </div>
        </li>

        {% for sub_comment in comment.articlecomment_set.all %}
            <li class="media second-media" id="single_comment_area{{ comment.id }}">
                <a class="pull-right" href="#">
                    {% if sub_comment.user.avator %}
                        {% thumbnail sub_comment.user.avator '121x86' crop='center' as im %}
                            <img class="media-object" src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                    {% else %}
                        <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                    {% endif %}
                </a>
                <div class="media-body">
                    <ul class="sinlge-post-meta">
                        <li><i class="fa fa-user"></i>{{ sub_comment.user }}</li>
                        <li>
                            <i class="fa fa-clock-o"></i>{{ sub_comment.create_date | show_time }}
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i>{{ sub_comment.create_date | show_date2jalali }}
                        </li>
                    </ul>
                    <p>{{ sub_comment.text }}</p>
                    {% comment %} <a class="btn btn-primary" href=""><i class="fa fa-reply"></i>پاسـخ</a>{% endcomment %}
                </div>
            </li>

        {% endfor %}
    {% endfor %}
</ul>