{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% block context %}
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ product.get_absolute_url }}">
                    {{ product.title }} / price : {{ product.price }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <p> Total Number of Products:  {{ total_number_of_products }}</p>
    <p> Average of Ratings: {{ average_ratings.rating__avg }}</p>

{% endblock %}